PORT=4000
# For local MongoDB:
# MONGO_URI=mongodb://127.0.0.1:27017/elective_harmony

# Or for MongoDB Atlas, something like:
# MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/elective_harmony

JWT_SECRET=change_me_to_a_long_random_string

